<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#string').keydown(function (e) {
          if (e.ctrlKey && e.keyCode == 13) {
            $('#submit').click();
            return false;
          }
        });
      });
    </script>
    <title>String reverser</title>
  </head>
  <body>
    <form method="post" id="entry" action="/reversed" accept-charset="utf-8">
      <label>String to reverse:<br/>
        <textarea name="post[string]" id="string"
          placeholder="Enter text to reverse. Press Control-Enter to submit."
          autofocus="autofocus" rows="5" cols="40"></textarea>
      </label><br/>
      <input id="submit" type="submit" value="Reverse"/>
    </form>
  </body>
</html>
