<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <title>String reverser</title>
  </head>
  <body>
    <p>Your reversed string:</p>
    <pre><%= params[:post][:string].delete("\r").reverse %></pre>
    <p><a href="/">Back</a> to string input.</p>
  </body>
</html>
